*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
body{
    overflow-x: hidden;
}
html,body{
    height: 100%;
    width: 100%;
    
    
    
}

.do{
    min-height: 100vh;
    width: 100%;
    background: rgb(44, 38, 38);
    /* border: 2px solid white; */
   
    background-attachment: fixed;
}
.one{
    background-image: url(./DSC_1094.JPG);
    background-size: cover;
    background-position:center;
   
}
.opac{
    color: aliceblue;
    min-height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, 0.555);

}
.text h3{
    position: absolute;
    top: 5%;
    left: 48%;
    font-size: 24px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 2px;
    
}
.text h1{
    position: absolute;
    top: 40%;
    left: 38%;
    
    font-size: 44px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 2px;
    
}
.text p:nth-of-type(1){
    position: absolute;
    opacity: 0.6;
    top: 48%;
    left: 40%;
    font-size: 14px;
    width: 440px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 2px;
    
}
.text p:nth-of-type(2){
    position: absolute;
    opacity: 0.6;
    top: 51%;
    left: 45%;
    font-size: 14px;
    width: 440px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 2px;
    
}
.text button{
    position: absolute;
    bottom: 7%;
    left: 49%;
    padding: 8px;
    width: 90px;
    border-radius: 50px;
    background-color: rgb(10, 210, 210);
    border: none;
    color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
}
.two{
    background-color: rgb(244, 242, 242);
    position: relative;
    
}
.two .t1{
    position: absolute;
    top: 30%;
    left: 41%;
}
.two .t1 h3{
    text-transform: uppercase;
    color: rgb(119, 118, 118);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
.t2{
 
    height: 35%;
    width: 100%;
    position: absolute;
    top: 45%;
}

.t2{
    display: flex;
    
}
.t2 .ki{
    position: relative;

}

.t2 .ki .img{
    height:80px;
    width: 80px;
    background-color: brown;
    position: absolute;
    left:42%;
    top: 8%;

}
.t2 .ki h4{
    
    color: rgb(57, 146, 146);
    position: absolute;
    left:32%;
    top: 45%;

}
.t2 .ki p{
    
    color: rgb(69, 102, 102);
    opacity: 0.6;
    position: absolute;
    left:25%;
    top: 54%;
    width: 70%;

}
 .t2 .t2_1{
    height: 100%;
    width: 33.35%;
    padding: 15px;
   
}
.t2 .t2_2{
    height: 100%;
    width: 33.3%;
    padding: 5px;
   
}
.t2 .t2_3{
    height: 100%;
    width: 33.35%;
    padding: 5px;
   
}
#ti{
    padding: 8px;
    
    border-radius: 50px;
    background-color: rgb(16, 137, 137);
    border: none;
    color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
    position: absolute;
    bottom: 8%;
    left: 47%;
}
.nav{
    height: 45px;
    width: 100%;
    /* background: #fc0404; */
    /* background-color: blue; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;

}
.nav .na{
    display: flex;
    align-items: center;
  
}
.nav .na h3{
    color: rgb(57, 146, 146);
    padding: 0 35px;
}
.nav .na li{
   
    list-style: none;
    color: gray;
    padding: 0 15px;
    
}
.nav .last{
    display: flex;
    align-items: center;
  
}
.nav .last button{
    padding: 6px;
    width: 90px;
    border-radius: 50px;
    background-color: rgb(10, 210, 210);
    border: none;
    color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
    margin-right: 10px;
   
    
}
.nav .last p{
   
    
    color: gray;
    padding: 0 15px;
    
}
.three{
    display: flex;
}
.three .th_left{
    height: 100%;
    width: 50%;
    background-color: white;
    position: relative;
}
.three .th_left .in3left{
    position: absolute;
    top: 33%;
    left: 15%;
    width: 40%;

}
.three .th_left .in3left h4{
    color: rgb(57, 146, 146); 
    margin-bottom: 12px;
}
.three .th_left .in3left p{
    color: rgb(69, 102, 102); 
    opacity: 0.6;
    margin-bottom: 12px;
}
.three .th_left .in3left button{
    padding: 6px 12px;
   border-radius: 50px;
    background-color: rgb(10, 210, 210);
    border: none;
    color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
}
.th_right{
    height: 100%;
    width: 50%; 
    background-image: url(./DSC_1094.JPG);
    background-size: cover;
    background-position: center;
}




.four{
    display: flex;
}
.four .f_left{
    height: 100%;
    width: 50%; 
    background-image: url(./DSC_1094.JPG);
    background-size: cover;
    background-position: center;

}
.four .f_right{
    height: 100%;
    width: 50%;
    background-color: white;
    position: relative;

}
.four .f_right .in4right{
    position: absolute;
    top: 33%;
    left: 15%;
    width: 40%;

}
.four .f_right .in4right h4{
    color: rgb(57, 146, 146); 
    margin-bottom: 12px;

}
.four .f_right .in4right p{
    color: rgb(69, 102, 102); 
    opacity: 0.6;
    margin-bottom: 12px;

}

.four .f_right .in4right button{
padding: 6px 12px;
border-radius: 50px;
 background-color: rgb(10, 210, 210);
 border: none;
 color: white;
 font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 text-transform: uppercase;

}
.five{
    height: 40%;
    width: 100%;
    background-color:rgb(244, 242, 242) ;
    position: relative;

}
.five h4{
    color: black;
    opacity: 0.7;
    text-transform: uppercase;
    position: absolute;
    top: 20%;
    left: 40%;

}
.five .f{
    position: absolute;
    top: 39%;
    height: 32%;
    width: 100%;
    background-color: blueviolet;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.five .f .f_1{
    height: 100%;
    width: 20%;
    background-color: antiquewhite;
    background-image: url();
    background-size: cover;
    background-position: center;
    padding: 0 18px;
}
.five .f .f_2{
    height: 100%;
    width: 20%;
    background-color: rgb(72, 44, 7);
    background-image: url();
    background-size: cover;
    background-position: center;
    padding: 0 18px;
}
.five .f .f_3{
    height: 100%;
    width: 20%;
    background-color: rgb(92, 24, 230);
    background-image: url();
    background-size: cover;
    background-position: center;
    padding: 0 18px;
}
.five .f .f_4{
    height: 100%;
    width: 20%;
    background-color: rgb(182, 18, 75);
    background-image: url();
    background-size: cover;
    background-position: center;
    padding: 0 18px;
}
.five .f .f_5{
    height: 100%;
    width: 20%;
    background-color: rgb(250, 10, 26);
    background-image: url();
    background-size: cover;
    background-position: center;
    padding: 0 18px;
}
.six{
    width: 100%;
    height: 100%;
    background-color: white;
    position: relative;
}
.six h4{
    position: absolute;
    top: 14%;
    left: 46.5%;
    color: black;
    opacity: 0.75;
}
.six .s{
    position: absolute;
    top: 20%;
    left: 10%;
    bottom: 20%;
    right: 10%;
    background-color: rgb(52, 75, 67);
    display: flex;

}
.six .s .sleft{
    width: 50%;
    height: 100%;
    background-color: yellow;
    border-right: 4px solid white;
}
.six .s .sright{
    width: 50%;
    height: 100%;
    background-color: rgb(255, 0, 230);
    border-left: 4px solid white;
    
}

.rup{
    width: 100%;
    height: 50%;
    background-color: rgb(16, 29, 92);
    display: flex;
    border-bottom: 4px solid white;
    

}
.upl{
    width: 50%;
    height: 100%;
    background-color: rgb(247, 46, 240);
    border-right: 4px solid white;
}
.upr{
    width: 50%;
    height: 100%;
    background-color: rgb(63, 231, 22);
    border-left: 4px solid white;
}
.rlow{
    width: 100%;
    height: 50%;
    background-color: rgb(178, 43, 54);
    display: flex;
    border-top: 4px solid white;

}
.lowl{
    width: 50%;
    height: 100%;
    background-color: rgb(163, 202, 22);
    border-right: 4px solid white;
}
.lowr{
    width: 50%;
    height: 100%;
    background-color: rgb(197, 124, 108);
    border-left: 4px solid white;
}
.seven{
    width: 100%;
    height: 100%;
    display: flex;
    background-color:rgb(244, 242, 242) ;
}
.seven .l7{
    width: 50%;
    height: 100%;
    
    position: relative;

}
.in7left{
    position: absolute;
    top: 33%;
    left: 15%;
    width: 40%;
    border: none;

} 

.in7left h4{
    color: rgb(57, 146, 146); 
    margin-bottom: 12px;
}
.in7left p{
    color: rgb(69, 102, 102); 
    opacity: 0.6;
    margin-bottom: 12px;
}
.in7left button{
    padding: 6px 12px;
    border-radius: 50px;
     background-color: rgb(10, 210, 210);
     border: none;
     color: white;
     font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     text-transform: uppercase;
} 
.seven .r7{
    width: 50%;
    height: 100%;
    
    position: relative;
   border: none;

}
.r7 .bigImg{
    height: 72%;
    width: 45%;
    position: absolute;
    background-color: brown;
    top: 10%;
    left: 13%;
}
.r7 .smaImg{
    height: 34%;
    width: 40%;
    position: absolute;
    background-color: rgb(82, 34, 227);
    top: 60%;
    left: 48%;
}
.eight{
    height: 100%;
    width: 100%;
    background-color: white;
    position: relative;
}
.e1{
    height: 35%;
    width: 100%;

    position: absolute;
    top: 25%;
    left: 18%;
    

}
.e1 p{
    width: 70%;
    color: rgb(69, 102, 102); 
    opacity: 0.6;

}
.e2{
    height: 10%;
    
    position: absolute;
    top: 50%;
    left: 46%;

}
.e2 h4{
    color: black;
}
.e2_1{
    color: black;
    opacity: 0.6;
    
}
.e3{
    height: 10%;
    
    position: absolute;
    top: 70%;
    left: 42%;

}
.e3 h3{
    color:rgb(46, 174, 174) ;
}

.nine{
    width: 100%;
    height: 100%;
    background-color:rgb(244, 242, 242) ;
    position: relative;
    

}
.n1{
    height: 25%;
    width: 100%;
    display: flex;
    position: absolute;
    top: 20%;
    background-color: blue;

}
.n2{
    height: 25%;
    width: 100%;
    display: flex;
    position: absolute;
    top: 55%;
    background-color: rgb(15, 216, 163);

}
.n1_1{
    height: 100%;
    width: 33.3%;
    background-color: brown;
}
.n1_2{
    height: 100%;
    width: 33.4%;
    background-color: rgb(24, 172, 56);
}
.n1_3{
    height: 100%;
    width: 33.3%;
    background-color: rgb(22, 10, 245);
}


.n2_1{
    height: 100%;
    width: 33.3%;
    background-color: brown;
}
.n2_2{
    height: 100%;
    width: 33.4%;
    background-color: rgb(24, 172, 56);
}
.n2_3{
    height: 100%;
    width: 33.3%;
    background-color: rgb(22, 10, 245);
}
.ten{
    width: 100%;
    height: 100%;

}
.up10{
    width: 100%;
    height: 50%;
background-color: white;
position: relative;

}
.kin10{
    position: absolute;
    top: 40%;
    left: 39%;
   

}
.up10 h3{
    margin-bottom: 5px;
    color: rgb(32, 117, 117); 
    font-size: 26px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 1.6px;
}
.up10 button{
    margin-top: 20px;
   margin-left: 114px;
    padding: 6px 12px;
    border-radius: 50px;
     background-color: rgb(64, 165, 165);
     border: none;
     color: white;
     font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     text-transform: uppercase;
}
.low10{
    width: 100%;
    height: 50%;
background-color:rgb(2, 37, 2);
display: flex;
}
.low10left{
    width: 50%;
    height: 100%;
   
    position: relative;

}

.inner10{
    width: 50%;
    height: 60%;
    position: absolute;
    top: 12%;
    left: 7%;
   
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.inner10 h2{
    font-size: 32px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.inner10 p{
    font-size: 17px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.inner10 .in10{
    height: 5%;
    display: flex;
    /* background-color: gold; */
    height: 30px;
    border: 1px solid rgba(255, 255, 255, 0.347);
}

.inner10 .in10 .ki10{
   padding: 5px;
   width: 65%;
   border: none;
   color: white;
   background-color: transparent;
}
.inner10 .in10 button{
    padding: 5px;
    width: 35%;
    border:none;
    color: white;
    background-color: transparent;
    text-transform: uppercase;

 }

.inner10 .icon10{
    color: aliceblue;
    display: flex;
    list-style: none;
    justify-content: space-between;
}

.low10right{
    width: 50%;
    height: 100%;
    display: flex;
}
.one10{
    width: 33.3%;
    height: 100%;
   
}
.one10 h4{
    margin-top: 20%;
    margin-bottom: 8%;
    color: white;
    font-size: 20px;
}
.one10 li{
    margin-top: 4%;
    color: white;
    list-style: None;
    font-size: 13px;
}
.two10{
    width: 33.4%;
    height: 100%;
   
}
.two10 h4{
    margin-bottom: 8%;
    margin-top: 20%;
    color: white;
    font-size: 20px;
}
.two10 li{
    margin-top: 4%;
    color: white;
    list-style: None;
    font-size: 13px;
}
.three10{
    width: 33.3%;
    height: 100%;
   
}
.three10 h4{
    margin-bottom: 8%;
    margin-top: 20%;
    color: white;
    font-size: 20px;
}
.three10 li{
    margin-top: 4%;
    color: white;
    list-style: None;
    font-size: 13px;
}




@media (max-width:500px){
    body{
        overflow-x: hidden;
    }
    .opac .text h3 {
       position: absolute;
       top: 10%;
       left: 40%;
    }
    .opac .text h1 {
        position: absolute;
        font-size: 34px;
        top: 30%;
        left: 14%;
     }
     .opac .text p:nth-of-type(1) {
        position: absolute;
        font-size: 16px;
        top: 38%;
        left: 14%;
     }
     .opac .text p:nth-of-type(2) {
        position: absolute;
        font-size: 16px;
        top: 45%;
        left: 15%;
     }
     .text button{
        position: absolute;
        left: 40%;
     }


}